<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body class="container text-center">
<div class="form-group has-search has-feedback">
    <img class="mb-4" src="chat.svg" alt="" width="72" height="72">
    <h1>Open IRC Search Engine</h1>
    <label for="inputQuery" class="sr-only">Search</label>
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" id="inputQuery" class="form-control" placeholder="Search" required autofocus>
    <button class="btn btn-outline-success my-2 my-sm-0" id="submitButton" type="submit" onclick="search()"
            style="margin:16px !important; visibility: hidden;">Search
    </button>
    <br>
    <small><a href="swagger-ui.html"><i class="fas fa-book"></i>API Reference</a></small>
    <br>
    <small><a href="https://github.com/avojak/oise"><i class="fab fa-github"></i>GitHub</a></small>
</div>

<footer class="footer">
    <div>
        <small>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small>
    </div>
</footer>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap-4.1.3.min.js"></script>
<script th:inline="javascript">
  $('#inputQuery').keydown(function(e) {
    if (e.keyCode === 13) {
      do_search($(this).val());
    }
  });

  function search() {
    do_search($('#inputQuery').val())
  }

  function do_search(query) {
    if (query.length === 0 || !query.trim()) {
      $('#inputQuery').val('');
      return;
    }
    window.location='results?q=' + query;
  }

  function check_button_visibility() {
    query = $('#inputQuery').val();
    if (query.length === 0 || !query.trim()) {
      $('#submitButton').css('visibility','hidden');
    } else {
      $('#submitButton').css('visibility','visible');
    }
  }

  $('#inputQuery').bind("change paste keyup", function() {
    check_button_visibility()
  });

  $(document).ready(function(){
    check_button_visibility()
  });
</script>

</body>

</html>